body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "VT323", monospace;
  background-color: #131220;
  color: #6a718b;
}

h1 {
  font-size: 60px;
}

a:link {
  text-decoration: none;
  text-decoration-color: #0F526D;
}

a:visited {
  color: #3C475D;
}

a:hover {
  color: #E95847;
}

footer {
  position: absolute;
  bottom: 0;
}
